<%- include('./include/header') %>
<body>
<div id="app">
    <h2><%= title %></h2>
    <h4>xxx即 <span style="color: #f00;">redirectUrlMap</span> 的key</h4>
    <a :href="origin" target="_blank">{{origin}}</a>
    <button @click="copy">复制</button>
</div>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
                origin: window.location.origin + "/code/v1?auk=xxx"
            }
        },
        methods: {
            copy() {
                let input = document.createElement('input');
                input.style.position = 'absolute';
                input.style.left = '-9999px';
                input.readOnly = true;
                input.value = this.origin;
                document.body.appendChild(input);
                input.select();
                const result = document.execCommand('Copy');
                if (result) {
                    alert('复制成功');
                }
                document.body.removeChild(input);
            }
        }
    })
</script>
</body>

</html>
